extends ../main_layout

block content
  div.row
    div.small-6.small-centered.columns
      #user-view

      script(id='UserView' type='text/template')
        | <% _.each(user, function(u) { %>
        |  <%=u.objects.email %>
        | <% }); %>
