extends main_layout

block content
  div.row
    div.small-4.small-centered.columns
      br
      br
      br
      h1 Mozillian in Twitter
      
    div.small-3.small-centered.columns
      a.persona-button.orange(href='#') 
        span Sign in with your Email   