<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="row">
  		<div class="small-12 columns">
  			<a id="tabzilla" href='/en-US/' data-infobar='translation' >mozilla</a>
  		</div>
  	</div>

