<% include layout_header %>

<div class="row">
	<div class="small-6 small-centered columns">
		<br/><br/><br/><br/>
		<h1 class="mainTitle">Mozillians on Twitter</h1>

		<form method="post" action="/login">
			<div class="large-6 columns">
		      <div class="row collapse postfix-round">
		        <div class="small-9 columns">
		          <input type="text" placeholder="Email" name="email">
		        </div>
		        <div class="small-3 columns">
		          <input type="submit" name="submit" class="button postfix" value="Go">		         
		        </div>
		      </div>
	    	</div>		
		</form>

	</div>
</div>

<% include layout_footer %>
